<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="cocacola es una bebida gaseosa ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywors" content="bebida gaseosa, coca, cola, ">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>Bienvenido a coca cola  </title>
    <link rel="short icon" href="img/favicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header>
        <div class="container">
            <a href="index.html"><img src="img/logo5.png" class="imge"> </a>
            <nav>
                <a href="#INICIO"> INICIO</a>
                <a href="#NOSOTROS "> NOSOTROS </a>
                <a href="#SERVICIOS"> SERVICIOS</a>
                <a href="#UBICACION"> UBICACION</a>
                <a href="#GALERIA "> GALERIA</a>
            </nav>
            <a href="#" class="menu"><i class="fas fa-bars"></i></a>
    </div>
    </header>
    <main>
        <section id="inicio">
            <img src="img/banner 5.jpg" alt="banner ">
            <div class="bloque-banner"><h1>MUCHOS AÑOS CONTIGO</h1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis ab repudiandae sequi accusamus maxime quos reprehenderit laborum molestias, repellat in incidunt, minus, dolore iusto distinctio maiores a. Autem, amet!Z</P>
                <a href="#nosotros" class="boton boton-blanco ">VER MAS </a>
            </div>   
        </section>
        <section id="nosotros" class="section ">
            <div class="container">
                <p>Loem ipsum dolor sit amet consectetur adipisicing elit. Illo cum atque sunt ducimus labore necessitatibus itaque, doloribus, rem eaque aperiam harum quaerat accusantium minima ex deserunt vitae! Nihil, accusantium libero. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui corrupti cumque cum, ducimus minus perferendis aperiam incidunt deserunt fuga optio corporis voluptas est, esse impedit rem suscipit aliquam. Sed, est? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium alias dolores repellendus quas quis, pariatur minima inventore necessitatibus assumenda. Deserunt inventore at ipsa quaerat, ratione laborum veniam nemo amet suscipit. </p>
            </div>
        </section>
        <section id="servicios" class="section">
            <div class="container">
                <div class="row">
                    <div class="columna-33">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio">
                                <img src="img/servicio.jpg" alt="">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h2>SERVICIOS 1</h2>
                                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum explicabo excepturi et ab culpa dicta ratione aliquid omnis, in quia esse consequatur veniam deleniti! Totam nisi maiores maxime perferendis ad labore laboriosam. Vel excepturi deserunt eaque laborum fugit minus doloribus alias quis eum consequuntur magni, eveniet rem reiciendis. Nesciunt magnam a saepe! Odit inventore reiciendis natus tempora est? Officiis dicta commodi, repudiandae explicabo quod modi beatae fugiat, debitis accusamus veritatis tempora odio eum porro eos dolores cumque harum quidem nostrum?</P>
                                <a href="#">VER MAS </a>
                            </div>
                        </div>
                    </div>
                    <div class="columna-33">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio">
                                <img src="img/banner10.jpg" alt="">
                            </div class="bloque-contenido-servicio">
                            <div>
                                <h2>SERVICIOS2</h2>
                                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum explicabo excepturi et ab culpa dicta ratione aliquid omnis, in quia esse consequatur veniam deleniti! Totam nisi maiores maxime perferendis ad labore laboriosam. Vel excepturi deserunt eaque laborum fugit minus doloribus alias quis eum consequuntur magni, eveniet rem reiciendis. Nesciunt magnam a saepe! Odit inventore reiciendis natus tempora est? Officiis dicta commodi, repudiandae explicabo quod modi beatae fugiat, debitis accusamus veritatis tempora odio eum porro eos dolores cumque harum quidem nostrum?</P>
                                <a href="#">VER MAS </a>
                            </div>
                        </div>
                    </div>
                    <div class="columna-33">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio">
                                <img src="img/100años.jpg" alt="">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h2>SERVICIOS3</h2>
                                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum explicabo excepturi et ab culpa dicta ratione aliquid omnis, in quia esse consequatur veniam deleniti! Totam nisi maiores maxime perferendis ad labore laboriosam. Vel excepturi deserunt eaque laborum fugit minus doloribus alias quis eum consequuntur magni, eveniet rem reiciendis. Nesciunt magnam a saepe! Odit inventore reiciendis natus tempora est? Officiis dicta commodi, repudiandae explicabo quod modi beatae fugiat, debitis accusamus veritatis tempora odio eum porro eos dolores cumque harum quidem nostrum?</P>
                                <a href="#">VER MAS </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        <section id="ubicacion" class="section">
            <iframe width="600"  height="500"  id="gmap_canvas"  src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=13&ie=UTF8&iwloc=8output=embed"></iframe>
        </section>
        <footer class="section">
            <div class="container">
                <div class="row">
                    <div class="columna columna-25">
                    <img src="img/Coca-Cola_logo_white.png" class="logo-blanco">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium dicta similique nulla repellendus, iure facilis neque amet in, </p>
                    </div>
                <div class="columna columna-25">
                <h3>TEMA RELACIONADOS1 </h3>
                <ul>
                    <li><a href="#">enlace1</a></li>
                    <li><a href="#">enlace2</a></li>
                    <li><a href="#">enlace3</a></li>
                    <li><a href="#">enlace4</a></li>
                </ul>
                </div>
                <div class="columna columna-25">
                <h3>TEMA RELACIONADOS2 </h3>
                <ul>
                    <li><a href="#">enlace1</a></li>
                    <li><a href="#">enlace2</a></li>
                    <li><a href="#">enlace3</a></li>
                    <li><a href="#">enlace4</a></li>
                </ul>
                </div>
                <div class="columna columna-25">
                    <ul>
                    <li><a href="#"></i></a></li>
                    <li><a href="#"></i></a></li>
                    <li><a href="#"></i></a></li>
                    <li><a href="#"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="pie">
                <div class="container">
                    &copy; 2020 -Todos los derechos reservados 
                </div>
            </div>
        </footer>
    </main>
</body>
</html>